{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    <section>
        <div>
            {{#with navigation}}
            <nav class="nav">
                {{#each links}}
                <a class="nav-link active mx-2" aria-current="page" href={{href}}>{{text}}</a>
               
                {{/each}}
            </nav>
            {{/with}}
        </div>
    </section>
    <hr>
    <section>
        {{#with newsBlock}}
        <h2 class="text-center my-4">{{title}}</h2>
        {{#each cards}}
        <div class="row g-2">
            <div class="card col-4 bg-dark">
                <div class="card-header text-light pt-3">
                    <h5>{{title}}</h5>
                    <div class="badge">
                    {{#if isNew}}<h5><span class="badge bg-success mx-2">нова</h5>{{/if}}
                    {{#if isTop}}<h5><span class="badge bg-danger mx-2">топ</h5>{{/if}}
                    </div>
                </div>
                <div class="card-body">
                    <p class="text-light">{{description}}</p>
                </div>
            </div>
        {{/each}}   
        </div>
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with goodsBlock}}
        <div class="nav">
            {{#each tabs}}
           
            <ul class="nav nav-tabs">
                <li class="nav-item">
                   {{#unless isActive}}
                    <a class="nav-link active" aria-current="page" href="#">{{text}}</a>
                    {{/unless}}
                    {{#unless isDisabled}}
                    <a class ="nav-link" href="#">{{text}}</a>
                    {{/unless}}
                    
                </li>
                
            </ul>
            {{/each}}

        </div>

        <br>
        <br>
        <div class="row g-3">
            {{#each cards}}
            <div class="card col-4">
                <div class="card-img-top bg-dark" >
                    <img src={{image}} alt="photo">
                </div>
                <div class="card-body">
                    <h3 class="card-title pb-2">{{title}}</h3>
                    <div class="badge">
                    {{#if isHot}}<h3><span class="badge bg-warning text-uppercase">hot!</h3>{{/if}}
                    {{#if isNew}}<h3><span class="badge bg-primary">nova</span></h3>{{/if}}
                    </div>
                    
                </div>
                    <p>{{description}}</p>

            </div>
            {{/each}}
            
        </div>
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with subscribe}}
        <div>
            <div class="bg-dark text-light">
                <h2 class="text-capitalize ms-4 pt-3">{{header}}</h2>
                <p class="text-capitalize pt-3 ms-4">{{description}}</p>
                {{#each buttons}}
                <a href={{link}} class="btn btn-primary ms-4 my-4">{{text}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with service}}
        <div>
            <div class="bg-success text-light text-center">
                <h2 class="text-capitalize pt-3">{{title}}</h2>
                <p class="text-capitalize">{{description}}</p>
                {{#each buttons}}
                <a href={{link}} class="btn btn-primary my-3">{{text}}</a>
                {{/each}}

            </div>
        </div>
        {{/with}}
    </section>
    <hr class="m-3">
    <section>
       
        <div class="row">
            {{#each footer}}
            {{!-- <nav class="nav col-1">
                <ul class="nav flex-column m-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">text</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </nav>     --}}
            
            <nav class="nav flex-column col-1">
                <a class="nav-link" href="#">link</a>
                <a class="nav-link" href="#">link</a>
                <a class="nav-link" href="#">link</a>
                <a class="nav-link" href="#">link</a>

            </nav>
            
            {{/each}}

        </div>
        
    </section>

    
  
</main>






