{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    {{#with heading}}
    <div class="card">
        <div class="card-body">
            {{#with main}}
            <h1>{{title}}</h1>
            <br>
            <p>{{text}}</p>
            <br>
            {{#with button_text}}
            <button class="btn btn-primary">{{solid}}</button>
            <br>
            <br>
            <button class="btn btn-outline-primary">{{outline}}</button>
            <br>
            {{/with}}
            {{/with}}
        </div>
    </div>
    
    <br>
    <div class="card">
        <div class="card-body">
            {{#with second}}
            <h2>{{title}}</h2>
            <br>
            <p>{{text}}</p>
            <br>
            {{#with button_text}}
            <button class="btn btn-secondary">{{solid}}</button>
            <br>
            <br>
            <button class="btn btn-outline-secondary">{{outline}}</button>
            <br>
            {{/with}}
            {{/with}}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            {{#with subblock}}
            <h2>{{title}}</h2>
            <br>
            <p>{{text}}</p>
            <br>
            {{#with button_text}}
            <button class="btn btn-dark">{{solid}}</button>
            <br>
            <br>
            <button class="btn btn-outline-dark">{{outline}}</button>
            <br>
            {{/with}}
            {{/with}}
        </div>
    </div>
    {{/with}}
    <br>
    <hr>
    {{#with nested_display}}
    <div class="display-1">{{title}}</div>
    <br>
    <hr>
    <div class="card">
        <div class="card-body">
            {{#with children_display}}
            <div class="display-4">{{title}}</div>
            <br>
            <p>{{text}}</p>
            <br>
            {{#with button}}
            <button class="btn btn-warning">{{text}}</button>
            <br>
            {{/with}}
            {{/with}}
        </div>
    </div>
    <br>
    
        <h6>{{header_text}}</h6>
    <br>
    {{#with button}}
        <button class="btn btn-info">{{text}}</button>
    <br>
    {{/with}}
    {{/with}}
    <hr>
    {{#with paragraph}}
        <p class="text-uppercase">{{title}}</p>
        <br>
        <p>{{text}}</p>
        <br>
        {{#with button}}
        <a href="{{url}}" button class="btn btn-link">{{text}}</button></a>
        <hr>
        {{/with}}
    <div class="card">
        <div class="card-body">
            {{#each list_name}}
            <ul>
                <li>
                    <a href="{{url}}"class="btn btn-link">{{text}}</a> 
                </li>
                <li>
                    <button class="btn btn-link" href="{{url}}">{{text}}</button>
                </li>
            </ul>
            {{/each}}
        </div>
    </div>
    {{/with}}
</main>






