{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
    {{>nav}}
    <hr>
    {{#with main}}

    {{/with}}

    {{!  ↓  ця конструкція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}

    {{!-- {{#with footer}}
    <footer>
    
        <hr>
        <br>
        <div>
            {{#with social}}
            
                {{>link text=email.text href=email.href blank=true }}
                {{>link text=phone.text href=phone.href blank=false}}
                {{>link text=linkedin.text href=linkedin.href blank=true line=true}}
           
            {{/with}}

        </div>
        <br>
        <div>
            <em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
        </div>
        <br>
        <div>
            <em>{{../header.address}}</em>
        </div>
        
    </footer>
    {{/with}}  --}}

    {{>footer social=footer.social firstname=header.name.firstname lastname=header.name.lastname address=header.address}}
  </body>

</html>